<launch>
  <include file="$(find xiaoqiang_description)/launch/xiaoqiang_model.launch" />
  <include file="$(find xiaoqiang_driver)/launch/xiaoqiang_driver.launch" />
  <include file="$(find xiaoqiang_bringup)/launch/xiaoqiang_camera.launch" />
  <node pkg="xiaoqiang_monitor" type="monitor.py" name="system_monitor">
    <remap from="usb_cam" to="/camera_node" />
    <remap from="usb_cam/image_raw" to="/camera_node/image_raw" />
  </node>
  <node pkg="xiaoqiang_server" type="server.py" name="xiaoqiang_server">
    <remap from="usb_cam" to="/camera_node" />
    <remap from="usb_cam/image_raw" to="/camera_node/image_raw" />
    <remap from="/usb_cam/brightness" to="/camera_node/brightness" />
  </node>
  <node pkg="web_video_server" type="web_video_server" name="web_node"/>
</launch>
